[submodule "DomRock-Frontend"]
	path = DomRock-Frontend
	url = https://github.com/codedontblow-org/domrock-frontend.git
[submodule "DomRock-Backend"]
	path = DomRock-Backend
	url = https://github.com/codedontblow-org/domrock-backend.git
[submodule "DomRock-Lana"]
	path = DomRock-Lana
	url = https://github.com/codedontblow-org/domrock-lana.git
