[submodule "DomRock-frontend"]
	path = DomRock-frontend
	url = https://github.com/CodeDontBlow/DomRock-frontend.git
[submodule "DomRock-backend"]
	path = DomRock-backend
	url = https://github.com/CodeDontBlow/DomRock-backend.git
[submodule "DomRock-iac"]
	path = DomRock-iac
	url = https://github.com/CodeDontBlow/DomRock-iac.git
[submodule "DomRock-ml"]
	path = DomRock-ml
	url = https://github.com/CodeDontBlow/DomRock-ml.git
